@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica:ital@0;1&family=Lakki+Reddy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Color Theme Swatches in Hex */
.E-commerce-1-hex { color: #F0F0F0; }
.E-commerce-2-hex { color: #E8E1F7; }
.E-commerce-3-hex { color: #AF9CD3; }
.E-commerce-4-hex { color: #674B9E; }
.E-commerce-5-hex { color: #6735C9; }
.E-commerce-6-hex { color: #341B66; }
.E-commerce-7-hex { color: #09090A; }

/* Color Theme Swatches in RGBA */
.E-commerce-1-rgba { color: rgba(240, 240, 240, 1); }
.E-commerce-2-rgba { color: rgba(232, 225, 247, 1); }
.E-commerce-3-rgba { color: rgba(175, 156, 211, 1); }
.E-commerce-4-rgba { color: rgba(103, 75, 158, 1); }
.E-commerce-5-rgba { color: rgba(103, 53, 201, 1); }
.E-commerce-6-rgba { color: rgba(52, 27, 102, 1); }
.E-commerce-7-rgba { color: rgba(9, 9, 10, 1); }

/* Color Theme Swatches in HSLA */
.E-commerce-1-hsla { color: hsla(0, 0, 94, 1); }
.E-commerce-2-hsla { color: hsla(259, 57, 92, 1); }
.E-commerce-3-hsla { color: hsla(260, 38, 71, 1); }
.E-commerce-4-hsla { color: hsla(260, 35, 45, 1); }
.E-commerce-5-hsla { color: hsla(260, 58, 49, 1); }
.E-commerce-6-hsla { color: hsla(260, 58, 25, 1); }
.E-commerce-7-hsla { color: hsla(240, 5, 3, 1); }



body{
    
}